@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  background-color: rgba(158, 158, 152, 0.664);
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(left, #212121, #323232);
  box-shadow: 0 0 1px 1px #111;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #4a4a4a, #404040);
  box-shadow: inset 0 0 1px 1px #191919;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #555555, #4e4e4e);
}

#site-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: center center;
  background-image: url(img/mouth-small.png);
  background-attachment: fixed;
  background-size: 200%;
}

.enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bttn-enter {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 600px;
  font-family: "Nanum Pen Script", cursive;
  color: white;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 850px;
  background-color: lightgray;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 5px rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

.fadeIn {
  animation: 1s fadeIn;
}

@keyframes fadeIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  margin: 24px 0;
}

.section-buttons {
  align-self: center;
  background: transparent;
  padding: 2rem 3rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  text-decoration: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 15px 225px 15px 255px/ 225px 15px 255px 15px;
  border: solid 4px #41403e;

  &:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
}

#logo-nav-bar {
  width: 150px;
  height: 150px;
  padding: 0 24px;
}

.main-body {
  overflow-y: scroll;
  display: block;
  height: 600px;
}

.section {
  padding: 24px;
}

/*Home section*/

#home {
  height: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(img/baner-small.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  padding: 0;
}

#home > a {
  font-size: 60px;
  width: 300px;
  background-color: #d3d3d3;
  text-align: center;
}

/*Item section*/

.items-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

.product-block {
  display: flex;
  flex-direction: column;
  width: 300px;
  letter-spacing: 1px;
  margin: 24px;
  cursor: pointer;
}

.product-content > h2 {
  margin-top: 8px;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.product-content > p {
  font-size: 1.2rem;
  border-bottom: 1px solid #41403e;
  padding-bottom: 8px;
  margin: 8px 0;
}

/*About section*/

#about {
  display: flex;
}

.content {
  width: 300px;
}

/*Contact section*/

#contact {
  display: flex;
  flex-direction: column;
}

.content-contact {
  background-color: #000000;
  color: white;
}

/*Social-media section*/

.social-media {
  box-sizing: border-box;
  text-align: center;
}

.drawer {
  width: 180px;
  height: 60px;
  margin: 80px auto;
  position: relative;
  cursor: pointer;
}

.box {
  width: 180px;
  height: 40px;
  background-color: #111111;
  position: relative;
  border-radius: 2px;
  padding: 0.5em 0;
  transition: all ease-in-out 0.25s;
  transform-style: preserve-3d;
  perspective: 600px;
}
.box:before {
  position: absolute;
  content: "";
  width: 0;
  height: 40px;
  background-color: #3c3c3c;
  bottom: 0;
  left: 0;
  transform-origin: left center;
  transform: rotateY(285deg) rotate(12deg) rotateX(0deg);
  transition: all cubic-bezier(0.92, -0.15, 0.21, 0.86) 0.25s;
}
.box:after {
  position: absolute;
  content: "";
  width: 0;
  height: 40px;
  background-color: #3c3c3c;
  bottom: 0;
  right: 0;
  transform-origin: top right;
  transform: rotateY(86deg) rotate(-12deg) rotateX(0deg);
  transition: all cubic-bezier(0.92, -0.15, 0.21, 0.86) 0.25s;
}

.ball {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 45px;
  height: 45px;
  margin: 0;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at 50% 120%,
    #ff5690,
    #d61a5a 80%,
    #941a44 100%
  );
  transition: all cubic-bezier(1, -0.49, 0.46, 0.8) 0.25s;
  overflow: hidden;
}
.ball.instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}
.ball.tiktok {
  background-image: radial-gradient(
    circle at 50% 120%,
    #312121,
    #151213 80%,
    #000000 100%
  );
}
.ball.email {
  background-image: radial-gradient(
    circle at 50% 120%,
    #fb486a,
    #d40028 80%,
    #b70728 100%
  );
}
.ball svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle at 50% 120%,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  bottom: 15%;
  left: 30%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 80px;
  background-color: #4d4d4d;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.92, -0.15, 0.21, 0.86) 0.25s;
}
.cover:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.cover:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-width: 0 1px 2px 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.drawer:hover .box {
  box-shadow: 0 25px 10px 0 rgba(0, 0, 0, 0.2);
}
.drawer:hover .box:before,
.drawer:hover .box:after {
  width: 90%;
}
.drawer:hover .ball-1 {
  -webkit-transform: translate3d(-80px, -45px, 0);
  -moz-transform: translate3d(-80px, -45px, 0);
  -o-transform: translate3d(-80px, -45px, 0);
  transform: translate3d(-80px, -45px, 0);
}
.drawer:hover .ball-2 {
  -webkit-transform: translate3d(-10px, -30px, 0);
  -moz-transform: translate3d(-10px, -30px, 0);
  -o-transform: translate3d(-10px, -30px, 0);
  transform: translate3d(-10px, -30px, 0);
}
.drawer:hover .ball-3 {
  -webkit-transform: translate3d(50px, -50px, 0);
  -moz-transform: translate3d(50px, -50px, 0);
  -o-transform: translate3d(50px, -50px, 0);
  transform: translate3d(50px, -50px, 0);
}
.drawer:hover .cover {
  -webkit-transform: translate3d(20px, 30px, 250px);
  -moz-transform: translate3d(20px, 30px, 250px);
  -o-transform: translate3d(20px, 30px, 250px);
  transform: translate3d(20px, 30px, 250px);
}

#popup-window {
  position: fixed;
  width: 1200px;
  height: 700px;
  background-color: #d3d3d3;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  border-radius: 15px 225px 15px 255px/ 225px 15px 255px 15px;
  border: solid 5px rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.open-window {
  pointer-events: none;
  cursor: default;
  filter: brightness(50%);
  animation: 0.5s darker;
}


@keyframes darker {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(50%);
  }
}



.disable-scroll {
  height: 100%;
  overflow: hidden;
}

#popup-img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

#popup-content{
  width: 500px;
  height: 400px;
}

#popup-content > h1{
  font-size: 72px;
  margin-bottom: 24px;
}

#popup-content > h2{
  font-size: 48px;
  color: #20201f9c;
  margin-bottom: 24px;
}



.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.5);

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.95);
}

.mySlides {
  display:none;
}

.active-slide {
  display:block;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}